<div class="row">
    <div class="col-xs-12">
        <img src="{{selectedRecipeDetail.imagePath}}" alt="{{selectedRecipeDetail.name}}" class="image-responsive" style="height: 200px; width: 400px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecipeDetail.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">ManageReciepe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click) = "addIngredientsToShoppingList()" style="cursor: pointer;">ToShoppingList</a></li>
                <li><a style="cursor: pointer;" (click) = "onEdit()">Edit</a></li>
                <li><a style="cursor: pointer;">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{selectedRecipeDetail.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor = "let ingrdient of selectedRecipeDetail.ingredients">
                {{ingrdient.name}}, {{ingrdient.amount}}
            </li>
        </ul>
    </div>
</div>